.contact-us {
    padding: 70px 0;
    &__form {
        margin: 40px auto;
        @include respond(tab-port) {
            max-width: 90% !important;
            margin: 40px auto;
        }
    }

    &__form-check {
        padding-left: 35px;
    }
}
