.gallery {
    &__item {
        background-color: black;
        height: 240px;
        padding: 0;
        overflow: hidden;
        &-img {
            height: auto;
            width: 100%;
            opacity: 0.7;
            transform: scale(1.15);
            transition: all 0.5s;
            transform-origin: center;
            &:hover {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}
