.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../img/herobike.jpg");

    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &__logo {
        width: 100px;
        height: 100px;
        &--fix {
            width: 60px;
            height: 60px;
            margin: 5px 0;
        }
        @include respond(phone) {
            width: 70px;
            height: 70px;
        }
    }
    padding-top: 30px;

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &-text {
            color: white;
            font-weight: 300;
            font-size: 38px;
            word-spacing: 3px;
            letter-spacing: 2px;
            @include respond(tab-port) {
                font-size: 30px;
            }
        }
        & button {
            @include respond(phone) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    &-list {
        font-size: 15px;
        display: flex;
        margin-left: auto;
        list-style-type: none;
        align-items: center;
        margin-bottom: 0;
        &__item {
            margin-left: 20px;
            display: flex;
            justify-content: center;
        }
    }
    &__link:link,
    &__link:visited {
        color: white;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        padding: 5px;
        transition: border 0.3s;

        i {
            margin-right: 4px;
            transition: color 0.3s;
        }
        &:hover {
            border-bottom: 2px solid orange;
        }
        i:hover {
            color: red;
        }

        @include respond(tab-port) {
            & span {
                display: none;
            }
        }
    }

    &__holder--fix {
        position: fixed;
        background-color: white;
        // opacity: 0.1;
        width: 100%;
        color: black;
        top: 0;
        z-index: 1000;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    @include respond(tab-port) {
        padding: 0px 30px;
    }
}

.navigation__link--fix:link,
.navigation__link--fix:visited {
    color: #888;
}
