.features {
    &__card-holder {
        margin-top: 50px;
    }
    &__card {
        &-logo {
            width: 60px;
            margin-bottom: 10px;
        }
        &-descreption {
            font-size: 15px;
            line-height: 152%;
        }

        @include respond(phone) {
            margin-bottom: 25px;
        }
    }
}
